<!DOCTYPE html>
<html>
    <head>
        <title>YIT Form Example</title>
        <link rel="stylesheet" href="/yit/styles/tailwind.min.css">
        <link rel="stylesheet" href="/yit/styles/app.css">
        <script src="/yit/scripts/vue.js" ></script>
        <script src="/yit/scripts/app.js"></script>
    </head>
    <body>
        <div id="app" class="w-full bg-gray-200 p-4">
            <div class="container mx-auto">
                <h1>{{ app_title }}</h1>
                <div class="form form-field-margin">
                    <div class="row">
                    <div class="w-9/12">
                        <div class="field">
                        <div class="label">
                            Projekt
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.project_name" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Obchodný názov
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.project_bussiness_name" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Segment
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.segment" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Stavebník
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.builder" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Investor
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.investor" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Vec
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.subject" value="Zadávacie podmienky pre projektanta" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Stupeň
                        </div>
                        <div class="input">
                            <input type="text" v-model="level"/>
                        </div>
                        </div>
                    </div>
                    <div class="w-3/12">
                        <div class="field">
                        <div class="label">
                            Číslo projektu
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.project_number" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Kategória štandardu
                        </div>
                        <div class="input">
                            <select v-model="documentation.base_info.category_standard" @change="changeTypeInRule">
                                <option value="standard">ŠTANDARD</option>
                                <option value="comfort">COMFORT</option>
                                <option value="bussiness">BUSSINESS</option>
                            </select>
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Označenie
                        </div>
                        <div class="input">
                            <select v-model="documentation.base_info.tag">
                            <option value="dsp">DSP</option>
                            <option value="drs">DRS</option>
                            </select>
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Schválil
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.approved_by" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Spracoval
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.processed_by" />
                        </div>
                        </div>
                        <div class="field">
                        <div class="label">
                            Dátum
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.base_info.approved_date"/>
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
                <h2>Údaje zadávateľa</h2>
                <div class="form">
                    <div class="row">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Adresa firmy
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.address"/>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Poštová adresa
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.post"/>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h3 class="text-xl font-bold mb-4 ml-2">Kontakty</h3>
                    <div class="row no-row-bottom-margin">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Manažér projektu
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.project_manager.name" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.project_manager.number" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.project_manager.email" />
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row no-row-bottom-margin">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Dizajn manažér
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.design_manager.name" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.design_manager.number" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.design_manager.email" />
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row no-row-bottom-margin">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Výrobný manažér
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.production_manager.name" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.production_manager.number" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.production_manager.email" />
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row no-row-bottom-margin">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Špecialista TZB
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.specialist_tzb.name" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.specialist_tzb.number" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.company_info.contacts.specialist_tzb.email" />
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row no-row-bottom-margin">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Špecialista EI
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-4/12">
                        <div class="field">
                            <div class="input">
                                <input type="text" v-model="documentation.company_info.contacts.specialist_ei.name" />
                            </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                            <div class="input">
                                <input type="text" v-model="documentation.company_info.contacts.specialist_ei.number" />
                            </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                            <div class="input">
                                <input type="text" v-model="documentation.company_info.contacts.specialist_tzb.email" />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <h2>Údaje dodávateľa</h2>
                <div class="form">
                    <div class="row">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Adresa firmy
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.supplier_info.address"/>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Poštová adresa
                        </div>
                        <div class="input">
                            <input type="text" v-model="documentation.supplier_info.post"/>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h3 class="text-xl font-bold mb-4 ml-2">Kontakty</h3>
                    <div class="row no-row-bottom-margin">
                    <div class="w-full">
                        <div class="field">
                        <div class="label">
                            Architekt
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.supplier_info.contacts.architect.name" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.supplier_info.contacts.architect.number" />
                        </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <div class="field">
                        <div class="input">
                            <input type="text" v-model="documentation.supplier_info.contacts.architect.email" />
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <h2>Základné identifikačné údaje miesta stavby</h2>
                <div class="form">
                    <div class="row">
                        <div class="w-6/12">
                            <div class="field">
                                <div class="label">
                                    Vyšší územ. celok
                                </div>
                                <div class="input">
                                    <input type="text" v-model="documentation.building_identification.operative_state" />
                                </div>
                            </div>
                        </div>
                        <div class="w-6/12">
                            <div class="field">
                                <div class="label">
                                    Okres
                                </div>
                                <div class="input">
                                    <input type="text" v-model="documentation.building_identification.district" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-6/12">
                            <div class="field">
                                <div class="label">
                                    Obec
                                </div>
                                <div class="input">
                                    <input type="text" v-model="documentation.building_identification.city" />
                                </div>
                            </div>
                        </div>
                        <div class="w-6/12">
                            <div class="field">
                                <div class="label">
                                    Ulica
                                </div>
                                <div class="input">
                                    <input type="text" v-model="documentation.building_identification.street" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-6/12">
                            <div class="field">
                                <div class="label">
                                    Katastr. územie
                                </div>
                                <div class="input">
                                    <input type="text" v-model="documentation.building_identification.catastral_area" />
                                </div>
                            </div>
                        </div>
                        <div class="w-6/12">
                            <div class="field">
                                <div class="label">
                                    Pozemok
                                </div>
                                <div class="input">
                                    <input type="text" v-model="documentation.building_identification.area" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Orientačné parametre projektu</h2>
                <div class="form">
                    <div class="row no-row-bottom-margin">
                        <div class="w-full">
                            <div class="field">
                                <div class="label">
                                    HPP
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-6/12">
                            <div class="field">
                                <div class="input">
                                    <input type="text" v-model="documentation.draft_project_attributes.hpp.name" />
                                </div>
                            </div>
                        </div>
                        <div class="w-5/12">
                            <div class="field">
                                <div class="input">
                                    <input type="number" v-model="documentation.draft_project_attributes.hpp.value" min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="w-1/12 pl-2 flex items-center">m<sup>2</sup></div>
                    </div>
                    <div class="row no-row-bottom-margin">
                        <div class="w-full">
                            <div class="field">
                                <div class="label">
                                    ZP
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-6/12">
                            <div class="field">
                                <div class="input">
                                    <input type="text" v-model="documentation.draft_project_attributes.zp.name" />
                                </div>
                            </div>
                        </div>
                        <div class="w-5/12">
                            <div class="field">
                                <div class="input">
                                    <input type="number" v-model="documentation.draft_project_attributes.zp.value" min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="w-1/12 pl-2 flex items-center">m<sup>2</sup></div>
                    </div>
                    <div class="row no-row-bottom-margin">
                        <div class="w-full">
                            <div class="field">
                                <div class="label">
                                    Podlahová plocha
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-6/12">
                            <div class="field">
                                <div class="input">
                                    <input type="text" v-model="documentation.draft_project_attributes.floor_area.name" />
                                </div>
                            </div>
                        </div>
                        <div class="w-5/12">
                            <div class="field">
                                <div class="input">
                                    <input type="number" v-model="documentation.draft_project_attributes.floor_area.value" min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="w-1/12 pl-2 flex items-center">m<sup>2</sup></div>
                    </div>
                </div>
                <h2>Expedícia PD</h2>
                <div class="form">
                    <div class="row no-row-bottom-margin">
                        <div class="w-full">
                            <div class="field">
                                <div class="label">
                                    Hlavné SO
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-4/12">
                            <div class="field">
                                <div class="input">
                                    <textarea type="text" v-model="documentation.expedition_pd.main_so.form"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="w-3/12">
                            <div class="field">
                                <div class="input">
                                    <input type="text" v-model="documentation.expedition_pd.main_so.date" />
                                </div>
                            </div>
                        </div>
                        <div class="w-5/12">
                            <div class="field">
                                <div class="input">
                                    <textarea type="text" v-model="documentation.expedition_pd.main_so.extensions"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-row-bottom-margin">
                        <div class="w-full">
                            <div class="field">
                                <div class="label">
                                    Vedľajšie SO
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-4/12">
                            <div class="field">
                                <div class="input">
                                    <textarea type="text" v-model="documentation.expedition_pd.secondary_so.form"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="w-3/12">
                            <div class="field">
                                <div class="input">
                                    <input type="text" v-model="documentation.expedition_pd.secondary_so.date" />
                                </div>
                            </div>
                        </div>
                        <div class="w-5/12">
                            <div class="field">
                                <div class="input">
                                    <textarea type="text" v-model="documentation.expedition_pd.secondary_so.extensions"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-row-bottom-margin">
                        <div class="w-full">
                            <div class="field">
                                <div class="label">
                                    Výkaz výmer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-4/12">
                            <div class="field">
                                <div class="input">
                                    <textarea v-model="documentation.expedition_pd.report_sizes.form"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="w-3/12">
                            <div class="field">
                                <div class="input">
                                    <input type="text" v-model="documentation.expedition_pd.report_sizes.date" />
                                </div>
                            </div>
                        </div>
                        <div class="w-5/12">
                            <div class="field">
                                <div class="input">
                                    <textarea type="text" v-model="documentation.expedition_pd.report_sizes.extensions"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-row-bottom-margin">
                        <div class="w-full">
                            <div class="field">
                                <div class="label">
                                    Termíny
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-full">
                            <div class="field">
                                <div class="input">
                                    <!-- <input type="text" v-model="expedition_pd.terms" /> -->
                                    <textarea v-model="documentation.expedition_pd.terms" class="bigger"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>1. Podklady</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.documentations">
                                <div class="w-1/12 number">1.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('documentations', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('documentations')">Pridať bod</button></div>
                <h2>1. Okrajové podmienky projektu</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.rules_of_project">
                                <div class="w-1/12 number">1.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('rules_of_project', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('rules_of_project')">Pridať bod</button></div>
                <h2>2. Forma a rozsah spracovania dokumentácie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.form_of_processing">
                                <div class="w-1/12 number">2.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('form_of_processing', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('form_of_processing')">Pridať bod</button></div>
                <h2>3. Architektonické a prevádzkové riešenie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.architectural_and_operating_solution">
                                <div class="w-1/12 number">3.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('architectural_and_operating_solution', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('architectural_and_operating_solution')">Pridať bod</button></div>
                <h2>4. Stavebné konštrukcie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.building_constructions">
                                <div class="w-1/12 number">4.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('building_constructions', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('building_constructions')">Pridať bod</button></div>
                <h2>5. Vykurovanie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.heating">
                                <div class="w-1/12 number">5.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('heating', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('heating')">Pridať bod</button></div>
                <h2>6. Zdravotechnika</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.sanitary">
                                <div class="w-1/12 number">6.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('sanitary', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('sanitary')">Pridať bod</button></div>
                <h2>7. Vzduchotechnika a chladenie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.ventilation">
                                <div class="w-1/12 number">1.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('ventilation', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('ventilation')">Pridať bod</button></div>
                <h2>8. Silnoprúdové inštalácie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.high_electricity_installations">
                                <div class="w-1/12 number">8.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('high_electricity_installations', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('high_electricity_installations')">Pridať bod</button></div>
                <h2>9. Slaboprúdové inštalácie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.low_electricity_installations">
                                <div class="w-1/12 number">9.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('low_electricity_installations', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('low_electricity_installations')">Pridať bod</button></div>
                <h2>10. Meranie a regulácia</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.measurement_and_regulations">
                                <div class="w-1/12 number">1.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('measurement_and_regulations', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('measurement_and_regulations')">Pridať bod</button></div>
                <h2>11. Spevnené plochy, komunikácie a dopravné značenie</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.paved_areas_roads_and_traffic_signs">
                                <div class="w-1/12 number">11.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('paved_areas_roads_and_traffic_signs', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('paved_areas_roads_and_traffic_signs')">Pridať bod</button></div>
                <h2>12. Sadové úpravy a drobná architektúra</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.field_modifications_and_little_architecture">
                                <div class="w-1/12 number">12.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('field_modifications_and_little_architecture', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('field_modifications_and_little_architecture')">Pridať bod</button></div>
                <h2>13. Ostatné vedlajšie objekty</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.secondary_objects">
                                <div class="w-1/12 number">13.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('secondary_objects', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('secondary_objects')">Pridať bod</button></div>
                <h2>14. Prevádzkové súbory</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.operating_files">
                                <div class="w-1/12 number">14.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('operating_files', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('operating_files')">Pridať bod</button></div>
                <h2>15. Ostatné požiadavky</h2>
                <div class="form no-padding small-mb">
                    <div class="points">
                        <div class="body">
                            <div class="row" v-for="(point, index) in documentation.other_requirements">
                                <div class="w-1/12 number">15.{{ index + 1}}</div>
                                <div class="w-10/12 input">
                                    <textarea v-model="point.value" placeholder="Zadajte text" @keydown="pointTextAreaResize($event)"></textarea>
                                </div>
                                <div class="w-1/12 flex justify-end p-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash" @click="removeDocumentationPoint('other_requirements', point)" v-if="point.can_modify">
                                        <path class="primary" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"></path><path class="secondary" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right mb-10"><button class="bg-green-600 p-2 text-white shadow" type="button" @click="addDocumentationPoint('other_requirements')">Pridať bod</button></div>
            </div>
        </div>
    </body>
</html>