h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.form {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    padding: 1rem;
    margin-bottom: 2.5rem;
    background-color: white;
}

.no-padding {
    padding: 0;
}

.small-mb {
    margin-bottom: 1rem;
}
.form .field {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .form .field > .label {
    text-transform: uppercase;
    color: #718096;
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: .85rem;
  }

  .form .field > .input > input, .form .field > .input > select, .form .field > .input > textarea {
    padding: .5em;
    border-width: 2px;
    border-style: solid;
    border-color: #edf2f7;
    width: 100%;
  }

  .form .field > .input > select  {
    min-height: 44px;
  }

  .form .field > .input > textarea {
    min-height: 50px;
    width: 100%;
    resize: none;
  }

  .form .field > .input > textarea.bigger {
    min-height: 120px;
    width: 100%;
  }

  .form .field > .input > input:focus, .form .field > .input > textarea:focus, .form .field > .input > select:focus {
    border-color: #a0aec0;
  }

  .form .row {
    display: flex;
  }

  .form .row {
    margin-bottom: 2rem;
  }

  .form .row:last-child {
    margin-bottom: 0;
  }

  .form.form-field-margin .field {
    margin-bottom: 2rem;
  }

  .form.form-field-margin .field:last-child {
    margin-bottom: 0;
  }

  .form .no-row-bottom-margin {
    margin-bottom: 0;
  }

  .form .points .body > .row {
      margin-bottom: 0;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e2e8f0;
  }

.form .points .body > .row .number {
    color: #718096;
    padding: 1rem;
    font-weight: 700;
    background-color: #f7fafc;
}

.form .points .body > .row .input {
    width: 100%;
    padding: 1rem;
}

.form .points .body > .row .input > textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    height: 24px;
}

.primary {
    fill: #A5B3BB; }

  .secondary {
    fill: #0D2B3E; }

.icon-trash {
    cursor: pointer;
}